<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= title %></title>
  <meta name="Resource-type" content="Document" />


  <link rel="stylesheet" type="text/css" href="stylesheets/background_header.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/link_effect.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

  <!-- For Link Effects -->
  <script src="javascripts/link_effects_js/modernizr.custom.js"></script>

  <!--[if IE]>
    <script type="text/javascript">
       var console = { log: function() {} };
    </script>
  <![endif]-->

  <!-- jquery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

</head>
<body>

<div id="header">    
      <section style="background: #333; text-align: center; padding-bottom: 5px;">
        <nav class="cl-effect-11">
          <a href="#" data-hover="Home">Home</a>
          <a href="#" data-hover="About">About</a>
          <a href="#" data-hover="Portfolio">Portfolio</a>
          <a href="#" data-hover="Contact">Contact</a>
          <a href="#" data-hover="Resume">Resume</a>
        </nav>
      </section>
    </div>

<div>
  <div class="section" id="section0" >
    <div class="container background-header">
      <div class="content">
        <div id="large-header" class="large-header">
          <canvas id="demo-canvas"></canvas>
          <h1 class="main-title">Irving <span class="thin">Arredondo</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- For background header -->
  <script src="javascripts/background_header_js/TweenLite.min.js"></script>
  <script src="javascripts/background_header_js/EasePack.min.js"></script>
  <script src="javascripts/background_header_js/rAF.js"></script>
  <script src="javascripts/background_header_js/demo-1.js"></script>

</body>
</html>